@import './additional-styles/tailwind.css';
@import './additional-styles/shadcn-ui.css';
@import './additional-styles/loader-custom.css';

html,
body {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

body {
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}